* {
	margin: 0;
}
body {
	background-color: lightblue;
	font-family: Arial, sans-seriff;
}
#title {
	text-align: center;
	font-size: 48px;
	animation: pulse 2s infinite alternate;
}
#instruction-button {
	margin-top: 20px;
}
#instruction {
	margin: 20px auto 0 auto;
	background-color: yellow;
	border: 5px solid black;
	outline: 5px solid black;
	outline-offset: 3px;
	width: 400px;
	height: 350px;
}
#instruction > ul > li {
	text-transform: uppercase;
}
#instruction > p {
	text-align: center;
	font-weight: bold;
	font-size: 24px;
}
@keyframes pulse {
	0% {
		color: red;
	}
	100% {
		color: white;
	}
}
#game-text {
	animation: reverse_pulse 2s infinite alternate;
}
@keyframes reverse_pulse {
	0% {
		color: white;
	}
	100% {
		color: red;
	}
}
#main-game {
	border-radius: 25px;
	background-color: blue;
}
.tr-game:nth-child(1) .td-game:nth-child(1) {
	border-top-left-radius: 18px;
}
.tr-game:nth-child(1) .td-game:nth-child(4) {
	border-top-right-radius: 18px;
}
.tr-game:nth-child(4) .td-game:nth-child(1) {
	border-bottom-left-radius: 18px;
}
.tr-game:nth-child(4) .td-game:nth-child(4) {
	border-bottom-right-radius: 18px;
}
#left-top-div {
	border-top-left-radius: 18px;
}
#right-top-div {
	border-top-right-radius: 18px;
}
#left-bottom-div {
	border-bottom-left-radius: 18px;
}
#right-bottom-div {
	border-bottom-right-radius: 18px;
}
.td-game {
	background-color: red;
}
#timer:hover {
	background-color: yellow;
}
#footer {
	text-align: center;
	font-style: italic;
	font-size: 14px;
	padding: 0;
	margin: 0;
}
@media screen and (max-width: 1024px){
	#main-game {
		width: 425px;
		height: 425px;
		border: 5px solid white;
		margin-left: auto;
		margin-right: auto;
		margin-top: 50px;
	}
	.td-game {
		border: 3px solid transparent;
		margin: 10px;

	}
	#timer {
		margin-top: 20px;
		background-color: #DF2080;
		width: 200px;
		height: 50px;
		border: 3px solid black;
		text-align: center;
		line-height: 44px;
		font-size: 32px;
		font-weight: bold;
		cursor: pointer;
	}
	.center-div {
		text-align: center;
	}
	.image-pool {
		background: green;
		width: 95px;
		height: 95px;
		margin: 0 auto;
		cursor: pointer;
		visibility: hidden;
	}
	.images {
		width: 50px;
		height: 50px;
		border: 20px solid transparent;
	}
	#score {
		text-align: center;
		font-weight: bold;
		font-size: 30px;
	}
	#helper {
		width: 0px;
		height: 0px;
		display: none;
	}
}
@media screen and (min-width: 1024px) {
	#main-game {
		width: 450px;
		height: 450px;
		border: 5px solid white;
		margin-left: auto;
		margin-right: auto;
		margin-top: 50px;
	}
	.td-game {
		border: 3px solid transparent;
		margin: 15px;

	}
	#timer {
		margin-top: 20px;
		background-color: #DF2080;
		width: 250px;
		height: 75px;
		border: 3px solid black;
		text-align: center;
		line-height: 44px;
		font-size: 40px;
		font-weight: bold;
		cursor: pointer;
	}
	.center-div {
		text-align: center;
	}
	.image-pool {
		background: green;
		width: 120px;
		height: 120px;
		margin: 0 auto;
		cursor: pointer;
		visibility: hidden;
	}
	.images {
		width: 80px;
		height: 80px;
		border: 20px solid transparent;
		user-select: none;
	}
	#score {
		text-align: center;
		font-weight: bold;
		font-size: 40px;
	}
	#helper {
		width: 0px;
		height: 0px;
		display: none;
	}
}
